@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2b88f0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  color: #fff;
  margin: 10px 0 20px;
}

h1 span {
  display: block;
  margin-top: 2rem;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 400;
}

.container {
  width: 500px;
}

textarea {
  border: none;
  display: block;
  width: 100%;
  font-family: inherit;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 1rem;
}

.tag {
  background-color: #f0932b;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}

.tag.highlight {
  background-color: #273c75;
}
