* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: steelblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.empty {
  width: 150px;
  height: 150px;
  margin: 10px;
  border: 3px solid #000;
  background-color: #fff;
}

.fill {
  background-image: url('https://source.unsplash.com/random/150x150');
  width: 145px;
  height: 145px;
  cursor: pointer;
}

.hold {
  border: 5px solid #ccc;
}

.hovered {
  background-color: #333;
  border-color: #fff;
  border-style: dashed;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
