@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: steelblue;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px 50px;
  border-radius: 6px;
}

.container h1 {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
}

.form-control {
  position: relative;
  margin-bottom: 30px;
}

.form-control input {
  background-color: transparent;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #fff;
  font-size: 20px;
  width: 100%;
  padding: 10px 0;
}

.form-control input:focus {
  outline: 0;
  border-color: lightblue;
}

.btn {
  background-color: lightblue;
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  border: 0;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
  transform: scale(0.98);
}

.text a {
  color: lightblue;
  margin-left: 10px;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:not([value='']) + label span {
  transform: translateY(-30px);
  color: lightblue;
}
